<head>
  <title><%= title %> - MonComptePro</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="theme-color" content="#000000" />
  <meta name="robots" content="noindex,nofollow" />
  <meta name="googlebot" content="noindex,nofollow" />
  <meta name="referrer" content="no-referrer-when-downgrade" />
  <link rel="stylesheet" href="/public/dsfr/dsfr.min.css" />
</head>
